/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

:root {
  --bg-color: #F2F3EF;
  --text-color: #183C4D;
  --icon-color: invert(0);
}

.dark-theme {
  --bg-color: #183C4D;
  --text-color: #F2F3EF;
  --icon-color: invert(1);
}

body {
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.25s, color 0.25s, filter 0.25s;
}

.container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

#title {
  text-align: center;
  font-size: 24px;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 20px;
  padding-bottom: 5px;
}

.icons img {
  width: 16px;
  height: 16px;
  filter: var(--icon-color);
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-style: solid;
  border-width: 1px;
  border-color: var(--text-color);
}

input {
  color: var(--text-color)
}