/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  #input-container, #message {
    font-size: 24px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  span {
    width: 80px;
    display: inline-block;
  }

.grid-button {
  width: 100px;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px 100px;
  justify-content: center;
}

button {
  font-size: 32px;
}

button:hover {
  box-shadow: 2px 2px var(--text-color);
}

.options {
  height: 50px;
  width: 60px;
  margin: 10px;
  font-size: 24px;
  text-align: center;
}

.clicked {
  box-shadow: none !important;
  background-color: var(--text-color);
  color: var(--bg-color);
  pointer-events: none;
}
